/* Write your CSS here */
.bg-con {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.random-card {
  background-color: #e4ebf3;
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.button {
  background-color: #0b69ff;
  color: white;
  font-size: 21px;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
}
.para {
  font-family: 'Roboto';
  font-size: 21px;
}

.num {
  font-size: 32px;
  font-weight: 700;
  color: blue;
}